body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    width: 1100px;
    margin: auto;
}
.set-width{
    width: 450px;
    margin: 50px 20px;
}
.set-width img{
    width: 100%;
    margin-left: 100px;
    margin-top: -90px;
}
.resize{
    font-size: 60px;
    border-left: 5px solid rgb(162, 221, 1);
    padding-left: 10px;
    color: #333333;
    font-family: 'Source Serif Pro', serif;
}
.set-color{
    color: rgb(243, 104, 127);
}
.para-color{
    color: #3E3E3E;
    margin-top: -20px;
    margin-bottom: 30px;
}
.btn{
    text-decoration: none;
    background: rgb(255, 45, 80);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
}
.exploreme{
    font-size: 14px;
    color: #3b3b3b;
   margin-top: 40px;
}
.mi-vi-go{
    width: 333px;
    margin-right: 33px;
    padding: 25px;
    border-radius: 20px;
}
.mi-vi-go h2{
    margin-top: -3px;
}
.bgcolor1{
    background: #5bccf6;
}
.bgcolor2{
    background: pink;
}
.bgcolor3{
    background: #c8d8e4;
}
.mi-vi-go img{
    width: 50%;
}
.title{
    width: 440px;
    margin: auto;
    font-size: 29px;
    font-weight: 700;
}
.first-half{
    color: #390879;
}
.second-half{
    color: #f93800;
}
.change-color{
    color: #3a3a3a;
}
.develop-img img{
    width: 100%;
}
.develop-img{
    width: 400px;
    margin-right: 70px;
}
.develop-docs{
    width: 630px;
    margin-top: 50px;
}
.develop-docs h1{
    font-size: 35px;
    line-height: 25px;
}
.develop-section{
    margin: 100px 0;
}
.extra-class {
    margin-bottom: 40px;
    font-size: 18px;
    color: #3a3a3a;
}
.mar-left{
    margin-left: 70px;
    margin-right: 0;
}
.known-section{
    margin: 100px 0;
}
.footer-section{
    background: black;
    color: white;
}
.footer-section h1 {
    width: 210px;
    margin: auto;
    padding-top: 50px;
}
.footer-section p {
    width: 493px;
    margin: auto;
    padding-bottom: 40px;
}
