body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    width: 1100px;
    margin: auto;
}
.set-width{
    width: 450px;
    margin: 50px 20px;
}
.set-width img{
    width: 100%;
    margin-left: 100px;
    margin-top: -90px;
}
.resize{
    font-size: 60px;
    border-left: 5px solid rgb(162, 221, 1);
    padding-left: 10px;
    color: #333333;
    font-family: 'Source Serif Pro', serif;
}
.set-color{
    color: rgb(243, 104, 127);
}
.para-color{
    color: #3E3E3E;
    margin-top: -20px;
    margin-bottom: 30px;
}
.btn{
    text-decoration: none;
    background: tomato;
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.exploreme{
    font-size: 14px;
    color: #3b3b3b;
   margin-top: 40px;
}
.mi-vi-go{
    width: 333px;
    margin-right: 33px;
    padding: 25px;
    border-radius: 20px;
}
.mi-vi-go h2{
    margin-top: -3px;
}
.bgcolor1{
    background: #a4dff5;
}
.bgcolor2{
    background: rgb(253, 227, 231);
}
.bgcolor3{
    background: #dae9f5;
}
.mi-vi-go img{
    width: 50%;
}
.title{
    width: 440px;
    margin: auto;
    font-size: 29px;
    font-weight: 700;
}
.first-half{
    color: #390879;
}
.second-half{
    color: #f93800;
}
.change-color{
    color: #3a3a3a;
    text-align: justify;
}
.develop-img img{
    width: 100%;
}
.h1-colors{
    color: #13103A;
}
#develop-color{
    color: rgb(245, 83, 88);
}
.develop-img{
    width: 400px;
    margin-right: 70px;
}
.develop-docs{
    width: 630px;
    margin-top: 50px;
}
.develop-docs h1{
    font-size: 35px;
    line-height: 25px;
}
.develop-section{
    margin: 100px 0;
}
.extra-class {
    margin-bottom: 40px;
    font-size: 18px;
    color: #3a3a3a;
    text-align: justify;
}
.h1-color{
    color: rgb(4, 180, 95);
}
.mar-left{
    margin-left: 70px;
    margin-right: 0;
}
.known-section{
    margin: 100px 0;
}
.footer-section{
    background: black;
    color: white;
}
.sidebar{
    border-left: 5px solid #FF5959;
    padding-left: 10px;
}
.footer-section h1 {
    width: 210px;
    margin: auto;
    padding-top: 50px;
    font-family: 'Source Serif Pro', serif;
}
.footer-section p {
    width: 493px;
    margin: auto;
    padding-bottom: 40px;
}
.own-width{
    width: 515px;
    box-shadow: 2px 2px 30px #766c6c;
    margin: 100px 0;
    padding: 20px;
}
.myself{
    margin-right: 70px;
}
.my-img img{
    width: 200px;
    text-align: center;
}
.isntructor-image img{
    width: 200px;
}
.my-img {
    width: 200px;
    margin: auto;
}
.title2 {
    font-size: 35px;
    width: 412px;
    margin:  auto;
    margin-bottom: -60px;
    color: #FFAD5A;
    font-family: 'Source Serif Pro', serif;
}
.isntructor-image {
    width: 200px;
    margin: auto;
    margin-top: -35px;
}
.sign1{
    text-align: right;
    padding-top: 30px;
}
.my-bio h1 {
    font-size: 30px;
    color: #F59560;
}
.instructor-bio h1 {
    font-size: 30px;
    color: #FF6659;
}
.paragraph-color{
    color: #7a7a7a;
    text-align: justify;
}
